.card {
    
    display: grid;
    grid-template-columns: repeat(auto-fill,350px);
   /*  width: 200px;
    height: 200px; */
    border: 100px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;  
    justify-content: space-between;
  
}
.cardC{
    display: sub-grid;
    border: 30px;
    margin: 30px;
    padding: 10px;
    /* display: flex;
    width: 320px;
    
 
    margin-top: 15px;
    
    max-height: 400px;
    min-height: 400px;
    font-size:30px;   */
    border-radius: 30px;
    
    
}

.title{
    
    font-family: 'Arial', sans-serif;
    color:rgb(0, 0, 0);
    background-color:  rgb(255, 255, 255);
    
    font-size: 25px;
    -webkit-text-stroke: 0,7px black;
    border: 2px rgb(0, 0, 0) solid ;
}

.img{
    border: 2px rgb(0, 0, 0) solid ;
}