 
   .button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
    border: 10px #aaa;
    background-color: rgb(32, 32, 32);
    color: #ffffff;
}

.button:hover {
    background-color: rgb(32, 32, 32);
    color: rgb(183, 178, 178);
    border: 10px #aaa;
    padding: 10px;
}